function Levels.init 0
push constant 25
pop static 0
push constant 64
pop static 1
push static 0
push static 1
call Math.multiply 2
call Array.new 1
pop static 2
push constant 0
return
function Levels.LoadLevel1 4
push constant 0
pop local 0
push constant 0
pop local 3
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push static 1
lt
not
if-goto WHILE_END1
push constant 2
push local 1
push constant 3
and
call Math.min 2
pop local 2
push local 3
not
pop local 3
push local 1
push local 0
push constant 64
call Math.multiply 2
add
push static 2
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Levels.getLevel 0
push static 2
return
