function Vector.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Vector.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Vector.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Vector.setDir 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
return
function Vector.getX 0
push argument 0
pop pointer 0
push this 0
return
function Vector.getY 0
push argument 0
pop pointer 0
push this 1
return
function Vector.reflectionX 0
push argument 0
pop pointer 0
push this 1
neg
pop this 1
push constant 0
return
function Vector.reflectionY 0
push argument 0
pop pointer 0
push this 0
neg
pop this 0
push constant 0
return
