function ExtendedMath.shiftRightOne 0
push constant 1
return
function ExtendedMath.shiftLeftOne 0
push constant 1
return
function ExtendedMath.rolOne 0
push constant 1
return
function ExtendedMath.rorOne 0
push constant 1
return
function ExtendedMath.xor 0
push argument 0
not
push argument 1
and
push argument 1
not
push argument 0
and
or
return
