function Main.main 13
push constant 0
push constant 230
push constant 96
push constant 16
call Bar.new 4
pop local 10
push constant 200
push constant 200
push constant 0
call Block.new 3
pop local 7
push constant 0
push constant 200
push constant 1
call Block.new 3
pop local 8
push constant 100
push constant 200
push constant 2
call Block.new 3
pop local 9
call Ball.init 0
pop temp 0
call Random.init 0
pop temp 0
push constant 1
pop local 3
push local 3
call Array.new 1
pop local 5
push constant 1024
call Array.new 1
pop local 6
push constant 0
pop local 1
push constant 0
pop local 11
label WHILE_EXP0
push local 1
push constant 25
lt
not
if-goto WHILE_END0
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 64
lt
not
if-goto WHILE_END1
push constant 8
push local 2
call Math.multiply 2
push constant 8
push local 1
call Math.multiply 2
push constant 2
push local 2
push constant 3
and
call Math.min 2
call Block.new 3
pop local 7
push local 7
push local 11
call Block.draw 2
pop temp 0
push local 11
not
pop local 11
push local 2
push local 1
push constant 64
call Math.multiply 2
add
push local 6
add
push local 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 2
push constant 1
pop local 4
label WHILE_EXP2
push local 2
push local 3
lt
not
if-goto WHILE_END2
push constant 2
call Ball.new 1
pop local 0
push local 0
push constant 10
push local 2
call Math.multiply 2
push constant 30
add
push constant 5
push local 2
add
call Ball.setLocation 3
pop temp 0
push local 0
push constant 1
push constant 1
call Ball.setDir 3
pop temp 0
push local 2
push local 5
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 4
neg
pop local 4
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
label WHILE_EXP3
push constant 0
not
not
if-goto WHILE_END3
push constant 0
pop local 2
push constant 0
call Screen.setColor 1
pop temp 0
label WHILE_EXP4
push local 2
push local 3
lt
not
if-goto WHILE_END4
push local 2
push local 5
add
pop pointer 1
push that 0
pop local 0
push local 0
call Ball.draw 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP4
label WHILE_END4
call Keyboard.keyPressed 0
pop local 12
push local 12
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 10
call Bar.draw 1
pop temp 0
push local 10
call Bar.moveLeft 1
pop temp 0
label IF_FALSE0
push local 12
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 10
call Bar.draw 1
pop temp 0
push local 10
call Bar.moveRight 1
pop temp 0
label IF_FALSE1
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 2
label WHILE_EXP5
push local 2
push local 3
lt
not
if-goto WHILE_END5
push local 2
push local 5
add
pop pointer 1
push that 0
pop local 0
push local 0
call Ball.shoot 1
pop temp 0
push local 0
call Ball.draw 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP5
label WHILE_END5
push local 10
call Bar.draw 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP3
label WHILE_END3
push constant 0
return
